name: Release

on:
  push:
    tags: ["**"]

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            runner: ubuntu-22.04
          - target: aarch64-unknown-linux-gnu
            runner: ubuntu-22.04-arm

    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v6
      - uses: moonrepo/setup-rust@v1
        with:
          inherit-toolchain: true

      - run: cargo fetch --locked --target "${{ matrix.target }}"
      - run: cargo build --release --target "${{ matrix.target }}"

      - run: |
          mkdir ./release
          cp "./target/${{ matrix.target }}/release/figma-agent" \
            "./release/figma-agent-${{ matrix.target }}"

      - uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.target }}
          path: ./release/figma-agent-${{ matrix.target }}

  release:
    needs: build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v7
        with:
          path: ./release
          merge-multiple: true
      - uses: softprops/action-gh-release@v2
        with:
          name: Figma Agent for Linux ${{ github.ref_name }}
          prerelease: ${{ contains(github.ref_name, '-') }}
          files: ./release/figma-agent-*
