name: Release

on:
  push:
    tags:
      - v*

jobs:
  build:
    strategy:
      matrix:
        target: [x86_64-unknown-linux-gnu, aarch64-unknown-linux-gnu]

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - if: matrix.target == 'aarch64-unknown-linux-gnu'
        run: |
          sudo dpkg --add-architecture arm64

          RELEASE="$(lsb_release --codename --short)"
          sudo sed -i -r "s/^(deb|deb-src) /\1 [arch=amd64] /g" /etc/apt/sources.list
          sudo tee /etc/apt/sources.list.d/arm64.list << EOF > /dev/null
          deb [arch=arm64] http://ports.ubuntu.com/ $RELEASE main restricted universe multiverse
          deb [arch=arm64] http://ports.ubuntu.com/ $RELEASE-updates main restricted universe multiverse
          deb [arch=arm64] http://ports.ubuntu.com/ $RELEASE-backports main restricted universe multiverse
          deb [arch=arm64] http://ports.ubuntu.com/ $RELEASE-security main restricted universe multiverse
          EOF

          sudo apt update
          sudo apt install \
            gcc-aarch64-linux-gnu \
            libfreetype6-dev:arm64 \
            libfontconfig1-dev:arm64

          echo "PKG_CONFIG=aarch64-linux-gnu-pkg-config" >> "$GITHUB_ENV"

      - run: cargo build --release --target ${{ matrix.target }}
        env:
          CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER: aarch64-linux-gnu-gcc

      - run: |
          mkdir ./release
          cp ./target/${{ matrix.target }}/release/figma-agent \
            ./release/figma-agent-${{ matrix.target }}

      - uses: actions/upload-artifact@v3
        with:
          name: release
          path: ./release/figma-agent-${{ matrix.target }}

  release:
    needs: build

    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: release
          path: ./release

      - uses: softprops/action-gh-release@v1
        with:
          name: Figma Agent for Linux ${{ github.ref_name }}
          files: ./release/figma-agent-*
